#testimonials {
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

#testimonial_chef {
    width: 500px;
    height: auto;
    border-radius: 10px;
}

#testimonials .section-subtitle {
    font-size: 3rem;
}

#testimonials_content {
    width: 50%;
}

#feedbacks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.feedback-avatar {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.feedback-content {
    background-color: #ffffff; /* Fundo branco */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: 400px; /* Largura máxima */
    margin: 20px auto; /* Centralizar na página */
}

.feedback-content label {
    font-weight: bold; /* Negrito para os rótulos */
    margin-bottom: 5px;
    display: block;
}

.feedback-content input[type="text"],
.feedback-content input[type="email"],
.feedback-content textarea {
    width: 100%; /* Campo de entrada ocupa 100% da largura */
    padding: 10px;
    margin-bottom: 15px; /* Espaçamento inferior */
    border: 1px solid #ccc; /* Borda cinza clara */
    border-radius: 5px; /* Bordas arredondadas para os campos */
    box-sizing: border-box; /* Inclui o padding na largura */
}

.feedback-content input[type="submit"] {
    background-color: #4CAF50; /* Cor do botão (verde) */
    color: white; /* Cor do texto do botão */
    padding: 10px 20px;
    border: none;
    border-radius: 5px; /* Bordas arredondadas para o botão */
    cursor: pointer;
    font-size: 16px;
}

.feedback-content input[type="submit"]:hover {
    background-color: #45a049; /* Cor do botão ao passar o mouse */
}

.feedback-content p {
    display: flex;
    justify-content: space-between;
}

.feedback-content p span {
    color: var(--color-primary-6);
}

@media screen and (max-width: 1170px) {
    #testimonials {
        flex-direction: column;
    }

    #testimonials .section-subtitle {
        text-align: center;
        font-size: 2.5rem;
    }

    #testimonial_chef {
        display: none;
    }

    #testimonials_content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    #testimonials .section-subtitle {
        font-size: 2rem;
    }

    #testimonials_content {
        width: 100%;
    }

    .feedback {
        flex-direction: column;
    }
}
